.button-container{
    display: flex;
    justify-content: center;
}

.carousel-images{
    position: absolute;
}

.submitButton{
    margin-right: 8px;
}

.container-image{
    background-image: url('../../../public/images/foto.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 12px 8px;
}

.logo-image{
    position: absolute;
    top: 10%;
    left: 25%;
}

.buttonRow{
    margin-top: 12px !important;
}

@media screen and (max-width: 900px) {
    .container-image{
        background-repeat: repeat;
    }
}