.card-text{
    color: var(--azul) !important;
}

.card-content{
    background-color: transparent;
    border-color: var(--azul);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}