body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.title{
  font-size: 28px;
  text-align: center;
  color: var(--azul);
  margin-bottom: 8px;
}

.next-button {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.text-center{
  text-align: center;
}

:root {
  --blue:#1e3a8a;
  --secondaryBlue:#5B69DA;
  --yellow:#ffd100;
  --white:white;
  --black:black;
  --success:#28a745;
  --error:#ff6666;
  --warning:#ffff1a;
  --silver:#C0C0C0;
  --gray:gray;
  --pastel:#ffda9e;
  --pastelclaro:#eeca8f;
  --pasteloscuro:#cdab72;
  --pastellog:#ffe1b1;
  --pastelborder:#ffda9e;
  --blancopaco:#f0f0f0;
  --pasteldisabled:#fff8ec;
  --pasteltitle:#99835f;
  --pastelblanco:#fff0d8;
  --azulClaro:#B0C4DE;
  --azul:#5F9EA0;
  --bordesPantalla:#5F9EA0;
  --disable:#B0C4DE;
  --decline:#1B263B;
  --accept:#778DA9;
}